{{ template "admin/main.html"}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {{/*<section class="content-header">*/}}
        {{/*<h1>*/}}
            {{/*用户中心*/}}
            {{/*<small>User Center</small>*/}}
        {{/*</h1>*/}}
    {{/*</section>*/}}

    <!-- Main content -->
    <section class="content">
        <!-- START PROGRESS BARS -->
        <div class="row">
            <div class="col-md-12">
                <div style="margin: 0 auto; max-width: 1000px;">
                    <ol class="breadcrumb">
                        <li><a href="/admin/index">管理</a></li>
                        <li class="active">好友列表</li>
                    </ol>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">好友列表 </h3>
                        </div>
                            <table class="table table-bordered" id="list">
                                <thead>
                                <tr>
                                    <th>昵称</th>
                                    <th>备注</th>
                                    <th>qq号</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                    </div>


                </div>
            </div>
        </div>

        <!-- /.row --><!-- END PROGRESS BARS -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->

<script>
    $(document).ready(function () {
        $.ajax({
            type: "get",
            url: "/admin/do_friend_list",
            dataType: "json",
            success: function (data) {
                if(data.retcode===0){
                   $.each(data.data,function (k,v) {
                       html="<tr><td>"+v.nickname+"</td><td>"+v.remark+"</td><td>"+v.user_id+"</td>"+"<td><a href='/admin/do_del_friend?uid="+v.user_id+"'>删除好友</a> | "+"<a href='/admin/send_private_msg?uid="+v.user_id+"'>发送消息</a>"+"</td>"+"</tr>";
                       $("#list").append(html);
                   })
                }else{
                    alert(data)
                }
            },
            error: function (jqXHR) {
                alert("发生错误：" + jqXHR.status);
            }
        })
    });
</script>


{{ template "admin/footer.html"}}