{{ define "admin/restart.html" }}
{{ template "admin/main.html"}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {{/*<section class="content-header">*/}}
    {{/*<h1>*/}}
    {{/*用户中心*/}}
    {{/*<small>User Center</small>*/}}
    {{/*</h1>*/}}
    {{/*</section>*/}}

    <!-- Main content -->
    <section class="content">
        <!-- START PROGRESS BARS -->
        <div class="row">
            <div class="col-md-12">
                <div style="margin: 0 auto; max-width: 1000px;">
                    <div class="alert"></div>
                    <ol class="breadcrumb">
                        <li><a href="/admin/index">管理</a></li>
                        <li class="active">服务重启</li>
                    </ol>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">热重启 </h3>
                        </div>
                        <div class="panel-body">
                            <form action="/admin/do_restart" id="fmt" method="post">
                            <div class="form-group">
                                <p class="form-control" id="json">目前暂时不支持ws服务重启</p>
                            </div>
                            <button type="button" class="btn btn-default" id="update_profile"
                                    onclick="dorestart();">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                重启
                            </button>
                            <a href="/admin/index" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                返回
                            </a>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- /.row --><!-- END PROGRESS BARS -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->
<script>
    function dorestart() {
        $("#fmt").submit();
    }
</script>

{{ template "admin/footer.html"}}
{{end}}