{{ define "admin/send_private_msg.html" }}
{{ template "admin/main.html"}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {{/*<section class="content-header">*/}}
    {{/*<h1>*/}}
    {{/*用户中心*/}}
    {{/*<small>User Center</small>*/}}
    {{/*</h1>*/}}
    {{/*</section>*/}}

    <!-- Main content -->
    <section class="content">
        <!-- START PROGRESS BARS -->
        <div class="row">
            <div class="col-md-12">
                <div style="margin: 0 auto; max-width: 1000px;">
                    <div class="alert"></div>
                    <ol class="breadcrumb">
                        <li><a href="/admin/index">管理</a></li>
                        <li class="active">好友消息发送(支持cq码)</li>
                    </ol>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{.nickname}} </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <textarea class="form-control" rows="20" id="msg" name="msg"></textarea>
                            </div>
                            <button type="button" class="btn btn-default" id="send_msg" onclick="private_msg_send({{.userId}});">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                发送
                            </button>
                            <a href="/admin/friend_list" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                返回
                            </a>
                        </div>
                    </div>
                    <div class="alert2" style="display: none">
                        <div class="form-group">
                            <textarea class="form-control" rows="20" id="msg_result" name="msg_result"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.row --><!-- END PROGRESS BARS -->
    </section>
    <!-- /.content -->
</div><!-- /.content-wrapper -->

<script>
    function private_msg_send(uid) {
        $.ajax({
            type: "POST",
            url: "/admin/do_send_private_msg",
            data:{
                "msg":$("#msg").val(),
                "uid":uid,
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                if(data.code!==0)
                {
                    $(".alert").html(data.msg).addClass("alert-warning").show().delay(5400).fadeOut();
                }else{
                    $("#msg_result").html(JSON.stringify(data.msg));
                    $(".alert2").addClass("alert-warning").show().delay(5400).fadeOut();
                }
            },
            error: function (jqXHR) {
                console.log(jqXHR);
                $(".alert").html("httpcode:"+jqXHR.status).addClass("alert-error").show().delay(5400).fadeOut();
            }
        })
    }
</script>


{{ template "admin/footer.html"}}
{{ end }}