on:
  release:
    types: [created]

jobs:
  releases-matrix:
    name: Release Go Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/386, linux/amd64, windows/386, windows/amd64, darwin/386, darwin/amd64 
        goos: [linux, windows, darwin]
        goarch: ["386", amd64, arm]
        exclude: 
          - goos: darwin
            goarch: arm
            
    steps:
      - uses: actions/checkout@v2
      - name: Set RELEASE_VERSION env
        run: echo ::set-env name=RELEASE_VERSION::${GITHUB_REF:10}
      - uses: wangyoucao577/go-release-action@master
        env:
          CGO_ENABLED: 0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          ldflags: -w -s -X "github.com/Mrs4s/go-cqhttp/coolq.version=${{ env.RELEASE_VERSION }}"
          